html {
    // box model
    height: 100%;
}

body {
    // positioning
    position: relative;

    // box model
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 140px;

    // typography
    color: $copyColor;
    font-family: $mainFont;
    font-size: 16px;

    overflow-x: hidden;

    @include atTabletsPortrait {
        // box model
        padding-bottom: 200px;
    }

    @include atDesktop {
        // box model
        padding-bottom: 344px;

        &::before {
            content: "";

            // positioning
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            // box model
            width: 440px;
            height: 100%;
            // border: 1px solid red;
            
            // visual
            background-image: url('../img/deco/deco-left.jpg');
            background-repeat: repeat-y;
        }

        &::after {
            content: "";

            // positioning
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;

            // box model
            width: 600px;
            height: 100%;
            // border: 1px solid red;
            
            // visual
            background-image: url('../img/deco/deco-right.jpg');
            background-position: right top;
            background-repeat: repeat-y;
        }
    }
}

* {
    // box model
    box-sizing: inherit;
}

a {
    // typography
    color: $mainGreen;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p {
    // typography
    font-family: $mainFont;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5;

    &--larger {
        // typography
        font-size: 1.25rem;
    }
}

// ul {
//     // box model
//     padding: 0;
//     margin: 0;

//     // visual
//     list-style: none;
// }