@mixin clearfix {
    &:after {
        content: "";

        // box model
        display: table;
        width: 100%;
        clear:  both;
    }
}

@mixin atSmall {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin atTabletsPortrait {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin atTabletsLandscape {
    @media (min-width: 900px) {
        @content;
    }
}
