//  colors
$mainGreen: #04b004;
$secondaryGreen: #2ecc71;
$darkBlue: #144258;
$marine: #024c45;
$accent: #ff5722;
$copyColor: #212121;

//  fonts
$mainFont: "Open Sans", Arial, sans-serif;

//  breakpoints

