.catalog-filter-set {
    // positioning
    position: relative;

    // visual
    border-bottom: 1px solid #eeeeee;
    // background-color: #eeeeee;

    &__title {
        // box model
        padding: 20px;
        margin: 0;

        // typography
        font-weight: 400;
        line-height: 1;
        
        @include atTabletsPortrait {
            padding-left: 0;
        }
    }

    &__toggle {
        // positioning
        position: absolute;
        top: 18px;
        right: 20px;

        // box model
        height: 24px;
        width: 24px;

        // visual
        opacity: 0.54;

        &:hover {
            // visual
            cursor: pointer;
        }

        &--on {
            background-image: url('../img/toggle-on.svg');
        }

        &--off {
            background-image: url('../img/toggle-off.svg');
        }
    }

    &__filters {
        // box model
        margin: 0;
        padding: 10px 20px;
        padding-bottom: 20px;
        // padding-left: 5px;
        // border: 1px solid red;

        // visual
        list-style: none;

        @include atTabletsPortrait{
            padding-left: 0;
        }

        li {
            // box model
            padding: 0;
            // padding-left: 50px;
            padding-bottom: 5px;
            // margin-left: -10px;
            font-size: 0;

            li {
                // box model
                padding: 0;
                margin-left: -2px;
                font-size: 1rem;

                a {
                    padding-left: 10px;
                }
            }
        }

        a {
            // positioning
            position: relative;

            // box model
            display: block;
            padding: 5px 10px;
            padding-left: 0;
            font-size: 1rem;
            // padding-left: 140;
            // text-indent: -40px;

            &:hover {
                // typography
                color: #ffffff;
                text-decoration: none;

                // visual
                background-color: $mainGreen;
            }

            span {
                display: inline-block;
                vertical-align: middle;
                width: calc(100% - 100px);
                padding-left: 5px;
            }
        }

        ul {
            // visual
            list-style: disc;
        }
    }
}