.contact {
    // positioning
    position: relative;
    // z-index: 99999;

    // box model
    display: none;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 10px;

    @include atTabletsPortrait {
        // box model
        display: inline-block;
        padding-right: 10px;
        padding-left: 0;
        padding-bottom: 0;
    }

    @include atTabletsLandscape {
        // box model
        padding-top: 20px;
    }

    @include atDesktop {
        // box model
        padding-left: 30px;
        padding-right: 0;
    }

    &--phones {
        // box model
        display: inline-block;
    }

    &--loc {
        // box model
        display: inline-block;
    }

    &--last {
        // box model
        padding-right: 0;
    }

    &__info {
        // box model
        display: inline-block;
        padding-left: 5px;

        // typography
        color: #ffffff;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.5;

        @include atTabletsPortrait {
            // typography
            font-size: 0.75rem;
        }

        @include atDesktop {
            // typography
            font-size: 1rem;
        }

        &--call {
            text-align: justify;
            // border: 1px solid red;
        }

        a {
            // typography
            color: #ffffff;
        }
    }

    &__icon {
        // positioning
        position: relative;

        // box model
        display: inline-block;
        height: 36px;
        width: 36px;

        // // visual
        // background-size: 36px 36px;

        @include atTabletsPortrait {
            height: 24px;
            width: 24px;

            // visual
            background-size: 24px 24px;
        }

        @include atDesktop {
            // box model
            height: 36px;
            width: 36px;

            // visual
            background-size: 36px 36px;
        }

        &--loc {
            // visual
            background-image: url(../img/location.svg);
        }

        &--time {
            // visual
            background-image: url(../img/time.svg);
        }

        &--call {
            // visual
            background-image: url(../img/call.svg);
        }
    }

    &__phone {
        &--ml {
            // box model
            margin-left: 7px;

            @include atTabletsLandscape {
                // box model
            }

            @include atDesktop {
                // box model
                margin-left: 10px;
            }
        }

        a {
            // box model
            display: inline-block;
            padding: 3px 10px;

            // typography
            color: $darkBlue;
            color: #ffffff;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1;
            text-decoration: none;

            // visual
            background-color: transparent;
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            // border-bottom: 1px solid rgba(255, 255, 255, 0.5);

            @include atTabletsPortrait {
                // typography
                font-size: 0.75rem;
            }

            @include atDesktop {
                // typography
                font-size: 0.875rem;
            }

            &:hover {
                // typography
                color: $mainGreen;

                // visual
                background-color: #ffffff;
            }
        }
    }

    &__map {
        // positioning
        position: absolute;
        // position: fixed;
        // left: 50%;
        // transform: translateX(-50%);
        // z-index: 9999;

        // box model
        height: 300px;
        width: 300px;

        // visual
        background-color: red;
    }
}