.container {
    // box model
    width: 1200px;
    margin: 0 auto;
    // border: 1px solid red;

    &:after {
        content: "";

        // box model
        display: table;
        width: 100%;
        clear: both;
    }

    &--relative-z-1 {
        // positioning
        position: relative;
        z-index: 1;
    }
}