.fast-nav {
    // positioning
    position: relative;
    z-index: 2;
    
    // box model
    padding: 10px 0;
    
    // visual
    background-color: $mainGreen;
    background-image: linear-gradient(to right, $darkBlue, $marine);

    &__list {
        // box model
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;

        // visual
        list-style: none;

        @include atTabletsPortrait {
            // box model
            margin-left: -15px;
        }
    }

    &__item {
        // positioning
        position: relative;

        // box model
        display: inline-block;
        vertical-align: top;

        // typography
        text-align: center;
    }

    a {
        // box model
        display: block;
        height: 100%;

        // typography
        color: #ffffff;
        font-weight: 300;
        font-size: 1rem;
        text-decoration: none;
        line-height: 1.2;
        // text-transform: uppercase;

        // visual
        border: 1px solid transparent;
        border-radius: 4px;

        @include atTabletsPortrait {
            // box model
            padding: 8px 10px;
        }

        @include atTabletsLandscape {
            // box model
            padding: 8px 15px;
        }

        &:hover {
            // visual
            border: 1px solid rgba(255, 255, 255, 0.5);

            & + .fast-nav__dropdown {
                // positioning
                top: 115px;

                // visual
                visibility: visible;
                opacity: 1;
            }
        }
    }

    img {
        // box model
        display: block;
        margin: 0 auto;
        height: 32px;
        width: 32px;

        @include atTabletsLandscape {
            // box model
            height: 48px;
            width: 48px;
        }

        @include atDesktop{
            // box model
            height: 56px;
            width: 56px;
        }
    }

    &__text {
        // box model
        display: none;
        padding-top: 10px;

        @include atTabletsPortrait {
            // box model
            display: block;

            // typography
            font-size: 0.75rem;
        }

        @include atTabletsLandscape {
            // typography
            font-size: 0.8rem;
        }

        @include atDesktop {
            // typography
            font-size: 0.875rem;
        }
    }
}