.fast-nav {
    // positioning
    position: relative;
    
    // box model
    padding: 15px 0;
    // border: 1px solid red;
    
    // visual
    background-color: $mainGreen;
    background-image: linear-gradient(to right, $darkBlue, $marine);

    ul {
        // box model
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        margin-left: -15px;

        // visual
        list-style: none;
    }

    li {
        // box model
        display: inline-block;
        vertical-align: top;

        // typography
        text-align: center;
    }

    a {
        // box model
        display: block;
        padding: 8px 15px;
        height: 100%;

        // typography
        color: #ffffff;
        font-weight: 300;
        font-size: 1rem;
        text-decoration: none;
        line-height: 1.2;
        // text-transform: uppercase;

        // visual
        border: 1px solid transparent;
        border-radius: 4px;

        &:hover {
            // visual
            border: 1px solid rgba(255, 255, 255, 0.5);
        }
    }

    img {
        // box model
        display: block;
        margin: 0 auto;
        height: 64px;
        width: 64px;
    }

    &__text {
        // box model
        padding-top: 10px;
    }
}