.form {
    // box model
    margin: 0 200px;
    padding: 20px 80px;
    padding-bottom: 40px;

    // visual
    background-color: #eeeeee;
    border-radius: 5px;

    &__text-input {
        // box model
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;

        // typography
        font-size: 1.125rem;

        // visual
        border: none;
        border-radius: 3px;
    }
}