.hero {
    // box model
    margin-top: 20px;

    @include atDesktop {
        // box model
        margin-top: 15px;
    }

    img {
        // box model
        display: block;
        margin: 0 auto;
    }

    &--repair {
        // box model
        margin-bottom: 40px;
        margin-top: 0px;

        @include atTabletsPortrait {
            // visual
            background-image: url('../img/repair-bg.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            // background-size: cover;
        }
    }

    &--exchange {
        // box model
        margin-top: 0px;

        @include atTabletsPortrait {
            // visual
            background-image: url('../img/exchange-bg.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top right;
        }

        @include atTabletsLandscape {
            // box model
            height: 300px;
        }

        @include atDesktop {
            // box model
            height: 450px;
        }
    }

    &__caption {
        // box model
        padding: 0;
        margin: 0;
        padding-top: 40px;

        // typography
        color: $mainGreen;
        font-family: $mainFont;
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.3;

        @include atTabletsPortrait {
            // typography
            font-size: 2.2rem;
        }

        @include atTabletsLandscape {
            // typography
            font-size: 2.7rem;
        }

        @include atDesktop {
            // typography
            font-size: 3rem;
        }
    }

    &__list {
        // box model
        margin: 0;
        padding: 0;
        padding-top: 20px;

        // visual
        list-style: none;

        @include atTabletsPortrait {
            // box model
            padding-top: 40px;
        }

        @include atTabletsLandscape {
            // box model
            padding-top: 50px;
        }

        @include atDesktop {
            // box model
            padding-top: 20px;
        }

        & li {
            // box model
            padding: 5px;

            // typography
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;

            @include atTabletsLandscape {
                // typography
                font-size: 1.125rem;
            }

            &:before {
                content: "— ";

                // typography
                color: $mainGreen;
            }
        }
    }

    &__text {
        // typography
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.7;

        @include atTabletsLandscape {
            // typography
            font-size: 1.5rem;
        }
    }

    &__slide {
        &--small {
            // box model
            display: block !important;

            @include atTabletsPortrait {
                // box model
                display: none !important;
            }
        }

        &--big {
            // box model
            display: none !important;
            
            @include atTabletsPortrait {
                display: block !important;
            }
        }
    }
}