.logo {
    // box model
    display: none;
    padding: 20px 10px;
    width: 225px;
    margin: 0 auto;

    @include atTabletsPortrait {
        // box model
        display: block;
        padding: 20px 0;
        padding-bottom: 10px;
        width: 337px;
        margin: 0 auto;
    }

    @include atTabletsLandscape {
        // box model
        float: left;
        margin: 0;
        width: 210px;
    }

    @include atDesktop {
        // box model
        padding: 15px 0;
        width: 225px;
    }

    img {
        // box model
        display: block;
        width: 100%;
    }

    &--footer {
        // box model
        display: block;
    }

    &--small {
        // box model
        display: inline-block;
        vertical-align: top;
        width: 63px;
        padding-left: 3px;
        padding-bottom: 10px;

        img {
            // box model
            display: block;
            width: 100%;
        }

        @include atTabletsPortrait {
            // box model
            display: none;
        }
    }
}