.main-nav {
    // positioning
    position: relative;

    // box model
    padding: 10px 0;
    // border: 1px solid red;
    @include clearfix;
    // border: 1px solid red;
    
    // visual
    // background-color: $mainGreen;
    // background-image: linear-gradient(to right, $mainGreen, $secondaryGreen);

    & ul {
        // box model
        margin: 0;
        margin-left: -15px;
        padding: 0;
        float: left;

        // visual
        list-style: none;
    }

    & li {
        // box model
        display: inline-block;
    }

    & a {
        // box model
        display: block;
        // line-height: 56px;
        // margin: -10px 0;
        padding: 6px 15px;
        padding-top: 2px;
        // border: 1px solid red;

        // typography
        color: #ffffff;
        font-weight: 300;
        font-size: 1.5rem;
        text-decoration: none;
        // text-transform: uppercase;

        // visual
        border-radius: 18px;
        transition: background-color 0.2s ease;

        &:hover {
            // typography
            color: $mainGreen;

            // visual
            background-color: #fff;
        }
    }

        &__canvas {
        // positioning
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        // box model
        display: block;
        width: 100%;
        height: 100%;
    }
}