.page-header {
    // positioning
    position: relative;

    // visual
    background-color: $mainGreen;

    @include atTabletsLandscape {
        background-image: linear-gradient(to right, $mainGreen, $secondaryGreen);
    }
}