.page-footer {
    // positioning
    position: relative;

    // box model
    padding-bottom: 25px;

    // visual
    background-color: $mainGreen;

    @include atTabletsLandscape {
        // visual
        background-image: linear-gradient(to right, $mainGreen, $secondaryGreen);
    }

    &__banks {
        
    }

    &__vk-widget {
        // box model
        display: none;
        vertical-align: top;
        padding-top: 35px;

        @include atDesktop {
            // box model
            display: inline-block;
        }
    }
}