.section {
    // box model
    padding: 40px 0;

    &--news {
        // box model
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        // width: 100%;

        @include atTabletsLandscape {
            // box model
            width: calc(100% - 290px);
            float: left;
            margin-right: 40px;
        }
    }

    &--featured {
        // typography
        text-align: center;

        @include atTabletsLandscape {
            // box model
            width: 250px;
            float: left;
        }
    }

    &--catalog-items {
        // box model
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: calc(100% - 400px);
        float: right;
        padding-left: 20px;
        // border: 1px solid red;
    }

    &--catalog-filters {
        // box model
        width: 400px;
        float: left;
        border: 1px solid red;
    }

    &__header {
        // box model
        margin-bottom: 30px;
        padding-bottom: 10px;

        @include atTabletsLandscape {
            // box model
            // padding-right: 40px;
        }
    }

    &__title {
        // box model
        margin: 0;

        // typography
        font-family: $mainFont;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5;
        text-align: left;

        // visual
        border-bottom: 1px solid $secondaryGreen;

        @include atTabletsPortrait {
            // typography
            font-size: 1.8rem;
        }

        @include atTabletsLandscape {
            // typography
            font-size: 2rem;
        }

        @include atDesktop {
            // typography
            font-size: 2.25rem;
        }
    }

    &__subtitle {
        // box model
        margin: 0;

        // typography
        color: #97a3ab;
        font-size: 1rem;
        text-align: left;
        // text-align: right;

        @include atTabletsLandscape {
            // typography
            font-size: 1.125rem;;
        }
    }

    &__text {
        // box model

        // typography
        font-family: $mainFont;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.5;

        &--larger {
            // typography
            font-size: 1.125rem;

            @include atTabletsLandscape{
                // typography
                font-size: 1.25rem;
            }
        }
    }

    &__list {
        // box model
        padding: 0;

        // visual
        list-style: none;

        & li {
            font-family: $mainFont;
            font-size: 1.125rem;
            font-weight: 300;
            line-height: 1.5;

            &:before {
                content: "— ";

                // typography
                color: $mainGreen;
            }
        }
    }

    &__image {
        // box model
        max-width: 100%;
    }
}