.section {
    // box model
    padding: 40px 0;

    &--news {
        // box model
        width: calc(100% - 290px);
        float: left;
    }

    &--featured {
        // box model
        width: 290px;
        float: left;
    }

    &--catalog-items {
        // box model
        display: flex;
        justify-content: space-between;
        width: calc(100% - 400px);
        float: right;
        padding-left: 20px;
        // border: 1px solid red;
    }

    &--catalog-filters {
        // box model
        width: 400px;
        float: left;
        border: 1px solid red;
    }

    &__header {
        // box model
        margin-bottom: 30px;
        padding-bottom: 10px;
        padding-right: 40px;

    }

    &__title {
        // box model
        margin: 0;

        // typography
        font-family: $mainFont;
        font-weight: 300;
        font-size: 2.25rem;

        // visual
        border-bottom: 1px solid $secondaryGreen;
    }

    &__subtitle {
        // box model
        margin: 0;

        // typography
        color: #97a3ab;
        font-size: 1.125rem;;
        text-align: right;
    }
}