.section {
    // box model
    padding: 25px 0;

    @include clearfix;

    &--news {
        // box model
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        // width: 100%;
        text-align: center;

        @include atTabletsLandscape {
            // box model
            width: calc(100% - 290px);
            float: left;
            margin-right: 40px;
            padding-bottom: 50px;
        }
    }

    &--featured {
        // typography
        text-align: center;

        @include atTabletsLandscape {
            // box model
            width: 250px;
            float: left;
        }
    }

    &--featured-at-items {
        // typography
        text-align: center;

        @include atTabletsLandscape {
            // box model
            display: none;
        }

        @include atDesktop {
            // box model
            display: block;
            width: 250px;
            float: left;
        }
    }

    &--random {
        // typography
        text-align: center;
    }

    &--all-news {
        // box model
        padding-bottom: 0;
    }

    &--catalog-items {
        // positioning
        position: relative;

        // box model
        padding-left: 20px;
        padding-top: 10px;

        @include atTabletsPortrait {
            float: right;
            width: calc(100% - 250px);
        }
    }

    &--catalog-filters {
        // positioning
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;

        // box model
        display: none;
        width: 100%;
        height: 100vh;
        float: left;
        padding-top: 80px;

        // visual
        background-color: #fff;
        overflow-y: scroll;

        @include atTabletsPortrait {
            // positioning
            position: relative;

            // box model
            display: block;
            width: 250px;
            height: auto;
            padding-top: 10px;

            // visual
            overflow: auto;
        }
    }

    &--item {
        @include clearfix;

        @include atDesktop {
            // box model
            float: left;
            margin-right: 20px;
            width: calc(100% - 270px);
        }
    }

    &--about {
        @include atDesktop {
            // box model
            width: 50%;
            padding-right: 20px;
            float: left;
        }
    }

    &--contacts {
        @include atDesktop {
            // box model
            width: 50%;
            padding-left: 20px;
            float: right;
        }
    }

    &--mt-14 {
        @include atDesktop {
            // box model
            margin-top: -14px;
        }
    }

    &__header {
        // box model
        margin-bottom: 10px;
        padding-bottom: 10px;

        @include atTabletsLandscape {
            // box model
            // padding-right: 40px;
        }
    }

    &__title {
        // box model
        margin: 0;

        // typography
        font-family: $mainFont;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5;
        text-align: left;

        // visual
        border-bottom: 1px solid $lightGreen;

        @include atTabletsPortrait {
            // typography
            font-size: 1.8rem;
        }

        @include atTabletsLandscape {
            // typography
            font-size: 2rem;
        }

        @include atDesktop {
            // typography
            font-size: 2rem;
        }
    }

    &__subtitle {
        // box model
        margin: 0;

        // typography
        color: #97a3ab;
        font-size: 1rem;
        text-align: left;
    }

    &__text {
        // box model

        // typography
        font-family: $mainFont;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.5;

        &--larger {
            // typography
            font-size: 1.125rem;

            @include atTabletsLandscape{
                // typography
                font-size: 1.25rem;
            }
        }
    }

    &__list {
        // box model
        padding: 0;

        // visual
        list-style: none;

        & li {
            font-family: $mainFont;
            font-size: 1.125rem;
            font-weight: 300;
            line-height: 1.5;

            &:before {
                content: "— ";

                // typography
                color: $mainGreen;
            }
        }
    }

    &__image {
        // box model
        max-width: 100%;
    }
}