.shop-item {
    // positioning
    position: relative;

    // box model
    display: inline-block;
    width: 180px;
    // height: 350px;
    padding: 15px;
    margin: 0 10px;
    margin-bottom: 40px;
    padding-bottom: 50px;

    // typography
    font-size: 0;

    // visual
    box-shadow: 0 0 5px 0 rgba(20, 66, 88, 0.2);
    border: 1px solid rgba(20, 66, 88, 0.2);
    transition: all 0.2s ease;
    border-radius: 2px;
    overflow: hidden;

    @include atTabletsLandscape {
        // box model
        margin-left: 0;
    }

    &--small {
        @include atTabletsLandscape {
            // box model
            height: 110px;
            padding: 10px;
            margin-bottom: 10px;
            width: 250px;

            .shop-item__image {
                // box model
                display: inline-block;
                vertical-align: top;
                width: 90px;
                height: 90px;
                // border: 1px solid red;
            }

            .shop-item__title {
                // box model
                padding-top: 0;
                display: inline-block;
                vertical-align: top;
                width: 120px;
                margin-left: 15px;

                // typography
                font-size: 0.8125rem;
                font-weight: 400;
            }

            .shop-item__recency {
                // box model
                display: none;
            }

            .shop-item__price {
                // box model
                padding: 0 15px;
                width: 120px;

                // positioning
                left: auto;
                right: 0;
                bottom: 10px;

                // typography
                font-size: 0.875rem;

                // visual
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
            }

            .shop-item__promo {
                // positioning
                right: auto;
                top: auto;
                bottom: 10px;
                left: 10px;

                // box model
                padding: 3px 15px;
                padding-bottom: 5px;
                height: auto;
                width: auto;

                // typography
                font-size: 0.875rem;

                // visual
                border-radius: 16px;
            }
        }
    }

    &:hover {
        box-shadow: 0 0 12px 0 rgba(20, 66, 88, 0.4);
        border: 1px solid rgba(20, 66, 88, 0.4);
    }

    &__image {
        // box model
        display: block;
        height: 150px;
        width: 100%;

        img {
            // box model
            // display: none;
            width: 100%;
        }
    }

    &__title {
        // box model
        padding-top: 15px;
        padding-bottom: 10px;
        height: 60px;

        // typography
        color: $copyColor;
        font-size: 0.875rem;
        font-weight: 400;
        text-align: center;
        line-height: 1.5;
    }

    &__price {
        // positioning
        position: absolute;
        left: 0;
        bottom: 15px;

        // box model
        padding: 0 15px;
        width: 160px;

        // typography
        color: #ffffff;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 28px;

        // visual
        background-color: $mainGreen;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    &__recency {
        // positioning
        position: absolute;
        right: 0;
        bottom: 15px;

        // box model
        padding: 0 15px;
        width: 70px;

        // typography
        color: #ffffff;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 28px;
        text-align: right;

        // visual
        background-color: $recencyColor;
        // background-color: $marine;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
    }

    &__promo {
        // positioning
        position: absolute;
        right: 10px;
        top: 110px;

        // box model
        height: 56px;
        width: 56px;
        padding-top: 20px;

        // typography
        color: #ffffff;
        font-size: 0.875rem;
        font-weight: 400;
        text-align: center;

        // visual
        background-color: $accent;
        border-radius: 50%;
    }
}