.button {
    // box model
    display: inline-block;
    margin: 5px 0;
    padding: 13px 30px;
    padding-top: 12px;
    padding-bottom: 14px;
    box-sizing: border-box;

    // typography
    color: $mainGreen;
    font-family: $mainFont;
    font-size: 1.125rem;
    font-weight: 400;
    text-decoration: none;

    // visual
    border: none;
    border-radius: 25px;
    background-color: $accent;
    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid $mainGreen;

    &:hover {
        // typography
        color: #ffffff;

        // visual
        // opacity: 0.8;
        text-decoration: none;
        background-color: $mainGreen;
    }

    &:focus {
        // visual
        outline: none;
    }

    &:active {
        // typography
        color: #ffffff;

        // visual
        border: 1px solid rgba($mainGreen, 0.54);
        background-color: rgba($mainGreen, 0.54);
    }

    &--green {
        // typography
        color: #ffffff;

        // visual
        background-color: $mainGreen;
    }

    &--small {
        // box model
        margin-top: 5px;
        margin-right: 10px;
        padding: 20px;
        padding-top: 7px;
        padding-bottom: 9px;
    }

    &--blocked {
        // box model
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }

    &--fr {
        // box model
        display: block;
        float: right;
        margin-left: 10px;
    }
}