.button {
    // box model
    padding: 13px 30px;
    padding-top: 12px;
    padding-bottom: 14px;
    box-sizing: border-box;
    // height: 50px;

    // typography
    color: $mainGreen;
    font-family: $mainFont;
    font-size: 1.125rem;
    font-weight: 400;
    text-decoration: none;

    // visual
    border: none;
    border-radius: 25px;
    background-color: $accent;
    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid $mainGreen;

    &:hover {
        // typography
        color: #ffffff;

        // visual
        // opacity: 0.8;
        text-decoration: none;
        background-color: $mainGreen;
        // border: none;
    }

    &:focus {
        // visual
        outline: none;
    }

    &:active {
        // box model
        padding: 11px 30px;
        padding-top: 10px;
        padding-bottom: 12px;
        
        // typography
        color: $accent;

        // visual
        border: 2px solid $accent;
        background-color: #ffffff;
    }

    &--blocked {
        // box model
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }

    &--fr {
        // box model
        display: block;
        float: right;
    }
}