.cart {
    // positioning
    position: relative;
    z-index: 5;

    // box model
    display: block;
    // height: 36px;
    margin-bottom: 10px;
    padding: 0 15px;
    padding-right: 10px;
    padding-top: 2px;

    // typography
    color: #ffffff;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;

    // visual
    border: 1px solid rgba(#ffffff, 0.54);
    border-radius: 22px;

    @include atTabletsPortrait {
        // box model
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        
        // typography
        font-size: 1rem;
        
        // visual
        border-radius: 18px;
    }

    @include atTabletsLandscape {
    }

    &__icon {
        // box model
        display: inline-block;
        vertical-align: middle;
        height: 32px;
        width: 32px;
        padding-top: 1px;
        margin-right: -5px;
    }

    &__number {
        // positioning
        position: absolute;
        top: -8px;
        right: -8px;

        // box model
        padding: 3px 5px;

        // typography
        color: $mainGreen;
        font-size: 0.625rem;
        line-height: 1em;

        // visual
        background-color: #ffffff;
        border: 1px solid rgba($secondaryGreen, 0.54);
        border-radius: 10px;
    }

    &:hover {
        // typography
        color: $mainGreen;
        text-decoration: none;

        // visual
        background-color: #ffffff;

        .cart__icon svg polyline,
        .cart__icon svg circle,
        .cart__icon svg line {
            stroke: $mainGreen;
        }
    }
}