.catalog-nav {
    // box model
    padding: 20px 0;

    // visual
    background-color: #f1f1f1;

    &__caption {
        // box model
        display: none;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;

        // typography
        font-size: 2rem;
        font-weight: 300;

        @include atTabletsPortrait {
            // box model
            display: block;
        }
    }

    &__count {
        // typography
        font-weight: 400;
        font-size: 0.8em;

        // visual
        opacity: 0.54;
    }

    &__recency {
        // box model
        display: inline-block;
        vertical-align: top;
        padding: 5px 13px;
        margin-left: 0.5em;
        margin-top: 0.25em;

        // typography
        color: #ffffff;
        font-size: 1rem;

        // visual
        background-color: $recencyColor;
        border-radius: 1rem;
    }

    &__promo {
        // box model
        display: inline-block;
        vertical-align: top;
        padding: 5px 13px;
        margin-top: 0.25em;

        // typography
        color: #ffffff;
        font-size: 1rem;

        // visual
        background-color: $accent;
        border-radius: 1rem;
    }

    ul {
        // box model
        margin: 0;
        padding: 0;

        // visual
        list-style: none;
    }

    li {
        // box model
        display: inline-block;
        vertical-align: middle;

        &:after {
            content: " > ";

            // box model
            padding-right: 5px;

            // typography
            // color: $mainGreen;
            font-size: 0.825rem;
        }

        &:last-of-type:after {
            content: "";
        }
    }

    p {
        // box model
        margin: 0;
        padding: 0;
    }
}