.contacts {
    // box model
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;

    @include atTabletsPortrait {
        // box model
        display: block;
        
        // typography
        text-align: center;
    }

    @include atTabletsLandscape {
        // box model
        float: right;

        // typography
        text-align: left;
    }

    @include atDesktop {
        // box model
        padding-top: 5px;
    }

    &--footer {
        // box model
        display: block;

        @include atDesktop {
            float: left;
            margin-left: -30px;
            margin-top: 6px;
        }

        .contact {
            display: block;

            &__icon {
                // box model
                display: inline-block;
            }

            @include atTabletsPortrait {
                display: inline-block;
            }
        }
    }
}