.container {
    // box model
    padding: 0 10px;
    margin: 0 auto;
    // border: 1px solid red;

    @include atTabletsPortrait {
        // box model
        padding: 0 20px;
    }

    @include atDesktop {
        // box model
        width: 1200px;
        padding: 0 10px;
    }

    &:after {
        content: "";

        // box model
        display: table;
        width: 100%;
        clear: both;
    }

    &--relative-z-1 {
        // positioning
        position: relative;
        z-index: 1;
    }
}