.contacts {
    @include atSmall {
        // box model
        display: none;
    }

    @include atTabletsPortrait {
        // box model
        display: block;
        
        // typography
        text-align: center;
    }

    @include atTabletsLandscape {
        // box model
        float: right;

        // typography
        text-align: left;
    }

    &--footer {
        // box model
        display: block;

        @include atDesktop {
            float: left;
            margin-left: -30px;
            margin-top: -20px;
        }
    }
}