.contact {
    // positioning
    position: relative;
    z-index: 3;

    // box model
    display: none;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 10px;

    @include atTabletsPortrait {
        // box model
        display: inline-block;
        padding-right: 10px;
        padding-left: 0;
        padding-bottom: 0;
    }

    @include atTabletsLandscape {
        // box model
        padding-top: 20px;
    }

    @include atDesktop {
        // positioning
        z-index: 12;

        // box model
        padding-left: 30px;
        padding-right: 0;
        padding-top: 22px;
    }

    &--phones {
        // box model
        display: inline-block;
    }

    &--loc {
        // box model
        display: inline-block;

        &:hover .contact__map{
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    }

    &--last {
        // box model
        padding-right: 0;
    }

    &__info {
        // box model
        display: inline-block;
        padding-left: 5px;

        // typography
        color: #ffffff;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.5;

        @include atTabletsPortrait {
            // typography
            font-size: 0.75rem;
        }

        @include atDesktop {
            // typography
            font-size: 0.875rem;
            font-weight: 400;
        }

        &--call {
            text-align: justify;
        }

        a {
            // typography
            color: #ffffff;
        }
    }

    &__icon {
        // positioning
        position: relative;

        // box model
        display: inline-block;
        height: 36px;
        width: 36px;

        // // visual
        // background-size: 36px 36px;

        @include atTabletsPortrait {
            height: 24px;
            width: 24px;

            // visual
            background-size: 24px 24px;
        }

        @include atDesktop {
            // box model
            height: 36px;
            width: 36px;

            // visual
            background-size: 36px 36px;
        }

        &--loc {
            // visual
            background-image: url(../img/location.svg);
        }

        &--time {
            // visual
            background-image: url(../img/time.svg);
        }

        &--call {
            // visual
            background-image: url(../img/call.svg);
        }
    }

    &__phone {
        &--ml {
            // box model
            margin-left: 7px;

            @include atTabletsLandscape {
                // box model
            }

            @include atDesktop {
                // box model
                margin-left: 10px;
            }
        }

        a {
            // box model
            display: inline-block;
            padding: 3px 10px;

            // typography
            color: $darkBlue;
            color: #ffffff;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1;
            text-decoration: none;

            // visual
            background-color: transparent;
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            // border-bottom: 1px solid rgba(255, 255, 255, 0.5);

            @include atTabletsPortrait {
                // typography
                font-size: 0.75rem;
            }

            @include atDesktop {
                // typography
                font-size: 0.875rem;
            }

            &:hover {
                // typography
                color: $mainGreen;

                // visual
                background-color: #ffffff;
            }
        }
    }

    &__map {
        // box model
        display: none;

        @include atDesktop {
            // positioning
            position: absolute;
            bottom: -310px;
            left: -88px;

            // box model
            display: block;
            height: 297px;
            width: 270px;

            // visual
            background-color: #ffffff;
            border-radius: 3px;
            box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.54);
            visibility: hidden;
            opacity: 0;
            transition: all 0.25s ease-out;
            transform: scale(0.1);
            transform-origin: center top;

            &::before {
                content: "";

                // positioning
                position: absolute;
                left: 50%;
                top: -10px;
                transform: translateX(-50%) rotate(45deg);
                // z-index: -1;

                // box model
                height: 20px;
                width: 20px;

                // visual
                background-color: #ffffff;
            }

            img {
                // positioning
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: 1;
            }
        }
    }
}