.dropdown {
    // positioning
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);

    // box model
    display: none;
    margin: 0;
    padding: 20px 0 15px;

    // typography
    font-size: 0;

    // visual
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.54);
    list-style: none;

    @include atDesktop {
        // box model
        display: block;
        
        // visual
        visibility: hidden;
        opacity: 0;
        transition: all 0.35s ease-out;

        &:hover {
            // positioning
            top: 115px;

            // visual
            visibility: visible;
            opacity: 1;
        }
    }

    
    &:before {
        content: "";

        // positioning
        position: absolute;
        left: 50%;
        top: -5px;
        transform: translateX(-10px) rotate(45deg);
        // left: calc(50% - 10px);

        // box model
        height: 20px;
        width: 20px;
        
        // visual
        background-color: #fff;
    }

    li {
        // box model
        margin: 0;
        padding: 0;

        a {
            // box model
            display: block;
            padding: 5px 20px;

            // typography
            color: $copyColor;
            line-height: 1.4;
            font-weight: 400;
            font-size: 0.875rem;
            text-align: left;
            white-space: nowrap;

            // visual
            border-radius: 0;

            &:hover {
                // typography
                color: #fff;
                
                // visual
                background-color: $lightGreen;
                background-color: $mainGreen;
            }
        }
    }

    &__item {
        // visual
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.54);
        visibility: hidden;

        &--show {
            visibility: visible;
        }

        ul {
            // box model
            margin: 0;
            padding: 0;

            // visual
            list-style: none;
        }
    }
}