.logo-n-contacts {
    @include clearfix;

    @include atDesktop {
        // box model
        display: inline-block;
        vertical-align: top;
        padding-top: 15px;
        width: 300px;
    }
}