.menu-button {
    // positioning
    position: absolute;
    top: 20px;
    right: 20px;

    // box model
    height: 32px;
    width: 32px;

    // visual
    cursor: pointer;

    @include atTabletsPortrait {
        // box model
        display: none;
    }
}