.page-footer {
    // positioning
    position: absolute;
    bottom: 0;

    // box model
    width: 100%;
    padding-bottom: 75px;

    // visual
    background-color: $mainGreen;

    @include atTabletsLandscape {
        // box model
        padding-bottom: 25px;

        // visual
        background-image: linear-gradient(to right, $mainGreen, $secondaryGreen);
    }

    &__banks {
        
    }

    &__map {
        // box model
        display: none;

        @include atDesktop {
            // box model
            display: inline-block;
            vertical-align: top;
            padding-top: 31px;
            margin-left: -10px;

            img {
                // box model
                width: 250px;

                // visual
                border: 1px solid #ffffff;
            }
        }
    }

    &__social {
        // box model
        display: none;

        @include atDesktop {
            // box model
            display: inline-block;
            padding-top: 20px;
            width: 300px;
            padding-left: 40px;
            // border: 1px solid red;
        }
    }

    &__inst {
        // box model
        display: none;

        @include atDesktop {
            // box model
            display: block;
            vertical-align: top;
            height: 42px;
            padding: 5px 25px;
            margin-bottom: 8px;
            width: 270px;

            // visual
            border: 1px solid #ffffff;
            border-radius: 21px;

            &:hover {
                // typography
                text-decoration: none;

                // visual
                background-color: #ffffff;

                .icon--inst {
                    // visual
                    background-image: url('../img/instagram-inv.svg');
                    background-size: 100%;
                }

                span {
                    // typography
                    color: $mainGreen;
                }
            }

            .icon--inst {
                // box model
                display: inline-block;
                height: 30px;
                width: 30px;
                // border: 1px solid red;

                // visual
                background-image: url('../img/instagram.svg');
                background-size: 100%;
            }

            span {
                // typography
                color: #ffffff;
                font-size: 1.5rem;
                font-weight: 400;
                vertical-align: top;
            }
        }
    }

    &__vk-widget {
        // box model
        display: none;
        vertical-align: top;
        // padding-top: 33px;

        @include atDesktop {
            // box model
            display: block;
        }
    }
}