.search-form {
    // positioning
    position: relative;

    // box model
    margin: 0 auto;
    margin-bottom: 15px;
    // border: 1px solid red;

    @include atTabletsPortrait {
        // box model
        display: inline-block;
        vertical-align: top;
        width: 390px;
        // typography
        text-align: center;
    }

    @include atTabletsLandscape {
        // box model
        width: 170px;
        width: calc(100% - 680px);
        margin-top: 0;
        margin-bottom: 10px;
    }

    @include atDesktop {
        // box model
        width: 330px;
    }

    &__input {
        // box model
        height: 36px;
        padding-left: 20px;
        padding-right: 40px;
        width: 100%;
        
        // visual
        border: none;
        outline: none;
        border-radius: 18px;
        transition: width 0.5s ease;

        @include atTabletsPortrait {
            // box model
            width: 100%;
        }

        @include atTabletsLandscape {
            // box model
            height: 35px;

            // typography
            text-align: center;
        }
    }

    &__button {
        // positioning
        position: absolute;
        right: 12px;
        top: 6px;

        // box model
        height: 24px;
        width: 24px;
        // border: 1px solid red;

        // typography
        font-size: 0;
        
        // visual
        background-image: url(../img/search.svg);
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        @include atTabletsPortrait {
            // positioning
            right: calc((100% - 500px) / 2);

            // visual
            transition: right 0.5s ease;
        }

        @include atTabletsLandscape {
            // positioning
            right: 12px;
        }
    }
}